html {
    background-image: url(snowman.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-family: cursive;
}

* {
    padding: 0;
    margin: 0;
}

#myCanvas {
    background: #eee;

    background-image: url("snowman.jpg");
    background-size: 1100px; 
    
    display: block;
    margin: 0 auto;
}

#nextLevel {
    display: none;
}

.snowContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -999;
}

#gameOver {
    text-align:center;
    font-size: 30px;
    background: #edecea;
    width: 900px;
    margin: 0 auto;
}

#gameOverContainer {		    
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 900px;
    margin: 0 auto;
    background: #edecea;
    padding-top: 5px;
    padding-bottom: 5px;
}

#score,
#highestScore,
#currentLevel {
    font-weight: bold;
}

#restartLevel {
    background: #b76700;
}

#newGame {
    background-color: #bb0202;
}

#nextLevel {
    background-color: green;
}

.btn {	
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    width: 100%;
}